<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/urls.css" />
</head>
<body class="urls">
  <h1>All my URLS</h1>
  <%= JSON.stringify(urls) %>
</body>
</html>